{
    "method": "post",
    "action": "setConfig",
    "id": "1",
    "back_host": "https://",
    "clientKey": "",
    "clientSecret": "",
    "idPending": "1",
    "idProcessing": "2",
    "idFailed": "3",
    "idDone": "4",
    "autoStart": false,
    "installPath": "/opt/node/french-automation-robot",
    "openDevTools": false,
    "windowOpened": false
}